header {
  width: 100%;
  position: fixed;
  z-index: 6;
}

header .navbar {
  background-color: #fff;
}

header .navbar img.icon {
  display: block;
  width: 42px;
}

header .navbar .navbar-brand {
  text-decoration: none;
}

header .navbar .navbar-brand .tahany-title {
  font-family: 'Montez';
  line-height: 55px;
  font-size: 45px;
  text-transform: capitalize;
  color: #000;
}

header .navbar .navbar-brand .tahany-title span.store {
  color: #FF865E;
  font-weight: 800;
}

header .navbar ul.navbar-nav {
  margin-left: 20px;
}

header .navbar ul.navbar-nav li.nav-item {
  text-transform: uppercase;
}

header .navbar ul.navbar-nav li.nav-item .nav-link.active {
  color: #FF865E;
  font-weight: 500;
}

header .navbar ul.navbar-nav li.nav-item a {
  text-decoration: none;
  color: #000;
}

header .navbar ul.navbar-nav li.nav-item a:hover {
  color: #FF865E;
}

header .navbar ul.navbar-nav li.btn-login {
  text-transform: uppercase;
  border: 1px solid #FF865E;
  padding: 7px 15px;
  margin-left: 40px;
  border-radius: 5px;
  font-size: 0.954rem;
}

header .navbar ul.navbar-nav li.btn-login a {
  text-align: center;
  color: #000;
  text-decoration: none;
}

header .navbar ul.navbar-nav li.btn-login:hover {
  -webkit-box-shadow: 0px 8px 15px rgba(255, 134, 94, 0.3);
          box-shadow: 0px 8px 15px rgba(255, 134, 94, 0.3);
}

header .navbar ul.navbar-nav li.btn-register {
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 450;
  margin-left: 10px;
  padding: 7px 15px;
  background-color: #FF865E;
  border: 1px solid #FF865E;
}

header .navbar ul.navbar-nav li.btn-register a {
  text-decoration: none;
  color: #000;
}

header .navbar ul.navbar-nav li.btn-register:hover {
  background-color: white;
  color: #000;
}

header .navbar .box {
  margin-left: auto;
}

header .navbar .box .search-box {
  position: relative;
  width: 190px;
  height: 35px;
  margin: auto;
  -webkit-box-shadow: 4px 2px 8px 4px rgba(255, 134, 94, 0.25);
          box-shadow: 4px 2px 8px 4px rgba(255, 134, 94, 0.25);
  border-radius: 25px;
}

header .navbar .box .search-box input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-color: #fff;
  border: none;
  outline: none;
  position: absolute;
  padding-left: 20px;
}

header .navbar .box .search-box .icon-search {
  position: absolute;
  right: -2px;
  top: 0;
  width: 30px;
  line-height: 30px;
}

header .navbar .box img {
  width: 20px;
}

header .navbar .cart-tahany {
  margin-left: 20px;
  position: relative;
}

header .navbar .cart-tahany .info-cart {
  position: absolute;
  border-radius: 50%;
  height: 12px;
  bottom: 0;
  right: 0;
  width: 14px;
  background-color: #FF865E;
}

header .navbar .cart-tahany .info-cart .number {
  display: block;
  color: #dee2e6;
  text-align: center;
  margin-top: -1px;
  font-size: 10px;
}

header .navbar .cart-tahany img {
  width: 30px;
}

header .navbar .action {
  position: fixed;
  right: 50px;
  top: 30px;
}

header .navbar .action .profile {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

header .navbar .action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .navbar .action .menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 120px;
  right: -10px;
  padding: 10px 0;
  background: #fff;
  width: 200px;
  -webkit-box-sizing: 0 5px 25px black;
          box-sizing: 0 5px 25px black;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar .action .menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

header .navbar .action .menu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .navbar .action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  font-weight: 500;
  font-family: 'poppins';
  color: #555;
  line-height: 1.3em;
}

header .navbar .action .menu h3 span {
  font-size: 18px;
  color: #adb5bd;
  font-weight: 400;
  font-family: 'poppins';
}

header .navbar .action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .action .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar .action .menu ul li:hover img {
  opacity: 1;
}

header .navbar .action .menu ul li a {
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar .action .menu ul li:hover a {
  color: #FF865E;
}

section.hero-tahany {
  padding: 140px;
  position: relative;
  background-color: #FFF9B6;
  width: 100%;
  z-index: 2;
}

section.hero-tahany .image-hero {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 100px;
  z-index: 1;
}

section.hero-tahany .image-hero img {
  width: 250px;
}

section.hero-tahany .image-frame {
  position: absolute;
  right: 0;
  padding-top: 50px;
  padding-right: 1px;
}

section.hero-tahany .image-frame img {
  width: 455px;
}

section.hero-tahany .tittle-hero {
  margin-top: 150px;
  margin-left: 100px;
}

section.hero-tahany .tittle-hero h4 {
  font-size: 35px;
  font-family: 'lemonanda';
  font-weight: 400;
  line-height: 53px;
  margin-bottom: 20px;
}

section.hero-tahany .tittle-hero .btn-hero {
  text-transform: capitalize;
  font-weight: 540;
  border: 2px solid #FF865E;
  border-radius: 5px;
  font-family: 'roboto';
}

section.hero-tahany .tittle-hero .btn-hero:hover {
  background-color: #FF865E;
}

section.list-kategori {
  padding: 50px;
  background-color: #F6F6F6;
}

section.list-kategori .list-discount img {
  padding-top: 6px;
  width: 50px;
}

section.list-kategori .list-discount span {
  padding-right: 30px;
  padding-top: 4px;
  display: block;
  font-family: 'roboto';
  font-size: 15px;
}

section.list-kategori .list-accessoris img {
  padding-top: 5px;
  padding-left: 10px;
  width: 65px;
}

section.list-kategori .list-accessoris span {
  padding-right: 10px;
  display: block;
  font-family: 'roboto';
  font-size: 15px;
}

section.list-kategori .list-dress img {
  padding-top: 5px;
  padding-right: 15px;
  width: 65px;
}

section.list-kategori .list-dress span {
  display: block;
  font-family: 'roboto';
  font-size: 15px;
}

section.list-kategori .list-makeup img {
  padding-top: 5px;
  padding-right: 25px;
  width: 71px;
}

section.list-kategori .list-makeup span {
  padding-top: 4px;
  display: block;
  font-family: 'roboto';
  font-size: 15px;
}

section.list-kategori .list-sling img {
  padding-top: 5px;
  width: 55px;
}

section.list-kategori .list-sling span {
  padding-left: 10px;
  display: block;
  font-family: 'roboto';
  font-size: 15px;
}

section.list-kategori .list-sepatu img {
  padding-top: 5px;
  width: 55px;
}

section.list-kategori .list-sepatu span {
  padding-left: 10px;
  display: block;
  font-family: 'roboto';
  font-size: 15px;
}

section.bestsallers {
  padding: 50px;
}

section.bestsallers h2 {
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: 'roboto';
  font-weight: 400;
  margin-bottom: 50px;
}

section.bestsallers h2 span {
  font-weight: 700;
  color: #FF865E;
}

section.bestsallers .carousel-product {
  margin-bottom: 50px;
  cursor: pointer;
}

section.bestsallers .carousel-product .uk-card {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

section.bestsallers .carousel-product .uk-card .image-product img {
  border-radius: 4px;
}

section.bestsallers .carousel-product .uk-card .uk-card-body {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FFE227;
  min-height: 30px;
  padding: 0.25rem 0.654rem;
  border-radius: 15px 0 0 0;
}

section.bestsallers .carousel-product .uk-card .uk-card-body .uk-card-title {
  margin-top: 7px;
  font-size: 13px;
  font-family: 'poppins';
  line-height: 10px;
}

section.bestsallers .btn-show {
  width: 140px;
  margin: auto;
  display: block;
  font-weight: 500;
  text-transform: capitalize;
  background-color: #FF865E;
  text-decoration: none;
  border: 1px solid #FF865E;
}

section.bestsallers .btn-show:hover {
  -webkit-box-shadow: 0px 8px 15px rgba(255, 134, 94, 0.3);
          box-shadow: 0px 8px 15px rgba(255, 134, 94, 0.3);
  background-image: url("/assets/icon/right-arrow.png");
  background-repeat: no-repeat;
  background-color: white;
  background-position: right;
  padding-top: 5px;
  background-size: 20px;
}

section.product-brands {
  background-color: #F6F6F6;
  margin-bottom: 100px;
  margin-top: 50px;
  padding: 50px;
}

section.product-brands h2 {
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: 'roboto';
  font-weight: 400;
  margin-bottom: 50px;
}

section.product-brands h2 span {
  font-weight: 700;
  color: #FF865E;
}

section.product-brands .list-brands {
  margin-bottom: 10px;
  padding-left: 20px;
}

section.product-brands .list-brands img {
  padding-top: 15px;
}

section.details-product {
  padding: 100px;
}

section.details-product h4 {
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
}

section.details-product .image-details img {
  width: 25rem;
}

section.details-product .description h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #FF865E;
}

section.details-product .description ul {
  list-style-type: none;
  margin-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #FF865E;
}

section.details-product .description ul li span.code {
  padding-left: 10px;
}

section.details-product .description ul li span.price {
  padding-left: 15px;
  color: #000;
}

section.details-product .description ul li span.detail-product {
  word-spacing: 2px;
  text-transform: capitalize;
}

section.details-product .description .table-select {
  border-bottom: 1px solid #FF865E;
  margin-left: 20px;
}

section.details-product .description .table-select .table h4 {
  font-size: 17px;
  margin-bottom: 40px;
  padding-left: 40px;
  position: relative;
  width: 250px;
  padding-top: 5px;
}

section.details-product .description .table-select .table h4 select {
  position: absolute;
  margin-left: 10px;
  left: 100px;
  top: 0;
}

section.details-product .description .base-button {
  text-align: center;
  margin-bottom: 50px;
}

section.details-product .description .base-button .btn-buy {
  display: inline-block;
  background-color: #FF865E;
  /* Green */
  border: 1px solid #FF865E;
  text-transform: uppercase;
  margin-right: 15px;
  font-weight: 600;
  color: #000;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
}

section.details-product .description .base-button .icn-cart {
  display: inline-block;
  background-position: 13px 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 105px;
  height: 40px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-image: url(/assets/icon/shopping-cart.png);
}

section.details-product .description .base-button .btn-cart {
  display: inline-block;
  padding-left: 25px;
  border: 1px solid black;
  background-color: #e9ecef;
  font-weight: 10px;
  margin-right: 15px;
  padding-top: 8px;
  text-decoration: none;
  font-weight: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

section.details-product .description .base-button .icn-favorite {
  background-image: url(/assets/icon/love.png);
  width: 110px;
  height: 40px;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: 10px 7px;
  background-size: 20px;
}

section.details-product .description .base-button .btn-wishlist {
  text-decoration: none;
  padding-left: 30px;
  border: 1px solid black;
  background-color: #e9ecef;
  font-weight: 10px;
  font-size: 12px;
  padding-top: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

section.login-register {
  padding-top: 100px;
  position: relative;
}

section.login-register img {
  width: 100%;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
}

section.login-register .hero-content .form-login {
  position: absolute;
  top: 0;
  padding: 50px;
  margin-top: 10rem;
}

section.login-register .hero-content .form-login h4 {
  font-family: 'poppins';
  font-weight: 400;
  font-size: 1.34rem;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  height: 35px;
  width: 65px;
  margin-left: 10px;
}

section.login-register .hero-content .form-login .form-input span {
  margin-left: 10px;
  font-size: 13px;
  display: block;
  margin-top: 10px;
}

section.login-register .hero-content .form-login .form-input .uk-input {
  border-radius: 15px;
}

section.login-register .hero-content .form-login .form-check {
  margin-bottom: 14px;
}

section.login-register .hero-content .form-login .form-check label {
  font-size: 15px;
}

section.login-register .hero-content .form-login .btn {
  color: #000;
  margin-left: 80px;
  margin-top: 10px;
  border: 1px solid #FF865E;
  padding: 4px 15px;
  border-radius: 5px;
  text-decoration: none;
  width: 70px;
  text-transform: capitalize;
  font-size: 14px;
  font-family: 'poppins';
}

section.login-register .hero-content .form-login .btn:hover {
  -webkit-box-shadow: 0px 8px 15px rgba(255, 134, 94, 0.3);
          box-shadow: 0px 8px 15px rgba(255, 134, 94, 0.3);
}

section.login-register .hero-content .form-login .login-social-media {
  margin-left: 50px;
  padding-top: 10px;
}

section.login-register .hero-content .form-login .login-social-media h6 {
  text-transform: capitalize;
  font-family: 'poppins';
}

section.login-register .hero-content .form-login .login-social-media .icn-media-sosial {
  margin-left: 25px;
}

section.login-register .hero-content .form-login .login-social-media .icn-media-sosial img {
  margin: 5px;
  width: 25px;
  height: 25px;
}

section.login-register .hero-content .form-login p {
  margin-left: 10px;
  line-height: 10px;
  font-size: 0.943rem;
  font-family: 'poppins';
}

section.login-register .hero-content .form-login p a {
  color: #FF865E;
  text-decoration: none;
}

section.register {
  padding-top: 100px;
  position: relative;
}

section.register img {
  width: 100%;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
}

section.register .hero-content .form-register {
  position: absolute;
  top: 0;
  padding: 50px;
  margin-top: 8rem;
}

section.register .hero-content .form-register h4 {
  font-family: 'poppins';
  font-weight: 400;
  font-size: 1.34rem;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  height: 35px;
  width: 100px;
  margin-left: 10px;
}

section.register .hero-content .form-register .form-input span {
  margin-left: 10px;
  font-size: 13px;
  display: block;
  margin-top: 10px;
}

section.register .hero-content .form-register .form-input .uk-input {
  border-radius: 15px;
}

section.register .hero-content .form-register .btn {
  color: #000;
  margin-left: 10px;
  border: 1px solid #FF865E;
  padding: 4px 15px;
  border-radius: 5px;
  text-decoration: none;
  width: 80px;
  text-transform: capitalize;
  font-size: 14px;
  font-family: 'poppins';
}

section.register .hero-content .form-register .btn:hover {
  -webkit-box-shadow: 0px 8px 15px rgba(255, 134, 94, 0.3);
          box-shadow: 0px 8px 15px rgba(255, 134, 94, 0.3);
}

section.register .hero-content .form-register .login-social-media {
  margin-left: 10px;
  padding-top: 10px;
}

section.register .hero-content .form-register .login-social-media h6 {
  text-transform: capitalize;
  font-family: 'poppins';
}

section.register .hero-content .form-register .login-social-media .icn-media-sosial img {
  margin: 5px;
  width: 25px;
  height: 25px;
}

section.register .hero-content .form-register p {
  margin-left: 10px;
  line-height: 10px;
  font-size: 0.943rem;
  font-family: 'poppins';
}

section.register .hero-content .form-register p a {
  color: #FF865E;
  text-decoration: none;
}

footer.footer-section-bg {
  width: 100%;
  background-color: #FDFFBC;
  padding: 70px;
  position: relative;
}

footer.footer-section-bg .footer-content .footer-brand-tahany {
  padding-top: 20px;
}

footer.footer-section-bg .footer-content .footer-brand-tahany img.icon {
  position: absolute;
  width: 42px;
  padding-top: 40px;
  top: 0;
}

footer.footer-section-bg .footer-content .footer-brand-tahany .navbar-brand {
  padding-top: 30px;
  text-decoration: none;
  position: absolute;
  top: 0;
  padding-left: 50px;
  padding-bottom: 5px;
}

footer.footer-section-bg .footer-content .footer-brand-tahany .navbar-brand .tahany-title {
  font-family: 'Montez';
  line-height: 55px;
  font-size: 45px;
  text-transform: capitalize;
  color: #000;
}

footer.footer-section-bg .footer-content .footer-brand-tahany .navbar-brand .tahany-title span.store {
  color: #FF865E;
  font-weight: 800;
}

footer.footer-section-bg .footer-content p {
  text-align: justify;
}

footer.footer-section-bg .footer-content a {
  font-family: 'roboto';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.045em;
}

footer.footer-section-bg .list-sosial-media ul {
  padding-top: 5px;
  list-style: none;
}

footer.footer-section-bg .list-sosial-media ul li img {
  width: 30px;
}

footer.footer-section-bg .list-sosial-media span {
  padding-top: 10px;
  font-family: 'roboto';
  font-size: 23px;
  line-height: 24px;
}

footer.footer-section-bg .list-sosial-media span a {
  color: #FF865E;
  text-decoration: none;
}

footer.footer-section-bg .footer-list {
  position: absolute;
}

footer.footer-section-bg .footer-list h4 {
  font-family: 'roboto';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.045em;
}

footer.footer-section-bg .footer-list ul {
  font-size: 15px;
  line-height: 10px;
  letter-spacing: -0.045em;
}

footer.footer-section-bg .footer-list ul li a {
  color: #000;
}

footer.footer-section-bg .footer-list ul li a:hover {
  text-decoration: none;
  color: #FF865E;
}

footer.footer-section-bg .footer-list-pembayaran {
  position: absolute;
}

footer.footer-section-bg .footer-list-pembayaran h4 {
  font-family: 'roboto';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.045em;
}

footer.footer-section-bg .footer-list-pembayaran img {
  width: 65px;
}

footer.footer-section-bg .android-app {
  position: absolute;
  margin-top: 170px;
  margin-left: 150px;
}

footer.footer-section-bg .android-app h4 {
  font-family: 'roboto';
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: -0.045em;
}

footer.footer-section-bg .android-app .android img {
  margin-left: 50px;
}

footer.footer-section-bg .android-app h6 {
  font-family: 'roboto';
  text-align: center;
  margin-top: 10px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.025em;
}

footer.footer-section-bg .android-app h6 span {
  color: #FF865E;
  font-weight: bold;
}

footer.footer-section-bg .footer-list-pengiriman {
  position: absolute;
}

footer.footer-section-bg .footer-list-pengiriman h4 {
  font-family: 'roboto';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.045em;
}

footer.footer-section-bg .footer-list-pengiriman img {
  width: 65px;
}
/*# sourceMappingURL=main.css.map */